*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #181818;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
}


#navbar__logo{
    background-color: #FFF;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 30px;
}

.navbar__link{
    color: #FFF;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
 /* Works */
/* .navbar__link:hover{
    color: #181818;
    transition: all 0.3s ease;
} */

.navbar__link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 0px;
    background-color: #6A82FB;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar__link:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

/* Mobile support */

/* #FC5C7D 0%,
#6A82FB 100% */